<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lst.malls.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.lst.malls.pojo.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="original_price" property="original_price" jdbcType="DECIMAL" />
    <result column="real_price" property="real_price" jdbcType="DECIMAL" />
    <result column="represent" property="represent" jdbcType="VARCHAR" />
    <result column="category_name" property="category_name" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_date" property="create_date" jdbcType="DATE" />
    <result column="final_changer" property="final_changer" jdbcType="VARCHAR" />
    <result column="final_change_time" property="final_change_time" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, image, original_price, real_price, represent, category_name, creater,
    create_date, final_changer, final_change_time
  </sql>
  <select id="selectByCategory" resultMap="BaseResultMap" parameterType="java.lang.String" >
  select
  <include refid="Base_Column_List" />
  from t_goods
  where category_name = #{category_name,jdbcType=VARCHAR}
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    id, name, image, original_price, real_price, represent, category_name
    from t_goods
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="selectByKeyWord" resultMap="BaseResultMap">
    select
    id, name, image, original_price, real_price, represent, category_name
    from t_goods
    where name like CONCAT(CONCAT("%",#{name},"%"))
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lst.malls.pojo.GoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from t_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lst.malls.pojo.Goods" useGeneratedKeys="true" keyProperty="id" >
    insert into t_goods (name, image,original_price,
      real_price, represent, category_name, 
      creater, create_date, final_changer, 
      final_change_time)
    values (#{name,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{original_price,jdbcType=DECIMAL},
      #{real_price,jdbcType=DECIMAL}, #{represent,jdbcType=VARCHAR}, #{category_name,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{create_date,jdbcType=DATE}, #{final_changer,jdbcType=VARCHAR}, 
      #{final_change_time,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.lst.malls.pojo.Goods" useGeneratedKeys="true" keyProperty="id" >
    insert into t_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="original_price != null" >
        original_price,
      </if>
      <if test="real_price != null" >
        real_price,
      </if>
      <if test="represent != null" >
        represent,
      </if>
      <if test="category_name != null" >
        category_name,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="create_date != null" >
        create_date,
      </if>
      <if test="final_changer != null" >
        final_changer,
      </if>
      <if test="final_change_time != null" >
        final_change_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="original_price != null" >
        #{original_price,jdbcType=DECIMAL},
      </if>
      <if test="real_price != null" >
        #{real_price,jdbcType=DECIMAL},
      </if>
      <if test="represent != null" >
        #{represent,jdbcType=VARCHAR},
      </if>
      <if test="category_name != null" >
        #{category_name,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null" >
        #{create_date,jdbcType=DATE},
      </if>
      <if test="final_changer != null" >
        #{final_changer,jdbcType=VARCHAR},
      </if>
      <if test="final_change_time != null" >
        #{final_change_time,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.lst.malls.pojo.Goods" >
    update t_goods
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="original_price != null" >
        original_price = #{original_price,jdbcType=DECIMAL},
      </if>
      <if test="real_price != null" >
        real_price = #{real_price,jdbcType=DECIMAL},
      </if>
      <if test="represent != null" >
        represent = #{represent,jdbcType=VARCHAR},
      </if>
      <if test="category_name != null" >
        category_name = #{category_name,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null" >
        create_date = #{create_date,jdbcType=DATE},
      </if>
      <if test="final_changer != null" >
        final_changer = #{final_changer,jdbcType=VARCHAR},
      </if>
      <if test="final_change_time != null" >
        final_change_time = #{final_change_time,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lst.malls.pojo.Goods" >
    update t_goods
    set name = #{name,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      original_price = #{original_price,jdbcType=DECIMAL},
      real_price = #{real_price,jdbcType=DECIMAL},
      represent = #{represent,jdbcType=VARCHAR},
      category_name = #{category_name,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_date = #{create_date,jdbcType=DATE},
      final_changer = #{final_changer,jdbcType=VARCHAR},
      final_change_time = #{final_change_time,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>