<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lst.malls.mapper.OrderDetailMapper" >
  <!--返回值类型-->
  <resultMap id="BaseResultMap" type="com.lst.malls.pojo.OrderDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
  </resultMap>
  <!--关键字段-->
  <sql id="Base_Column_List" >
    id, order_id, goods_id, number
  </sql>
  <!--根据订单编号查询-->
  <select id="selectByOrderId" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from t_order_detail
    where order_id = #{order_id,jdbcType=BIGINT}
  </select>
  <!--删除-->
  <delete id="delete"  >
    delete from t_order_detail
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <!--插入-->
  <insert id="insert" parameterType="com.lst.malls.pojo.OrderDetail" useGeneratedKeys="true" keyProperty="id" >
    insert into t_order_detail (order_id, goods_id, number
      )
    values (#{orderId,jdbcType=BIGINT}, #{goodsId,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}
      )
  </insert>
</mapper>